*{
  padding: 0; margin: 0; box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;  
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 2500px;
  padding: 0 15px;
  margin: 0 auto;
  display: block;  
}
:root{
  --primary: #42eb89;
  --secondary: rgba(15, 10, 29, 0.849);
  --light: #2f3640; 
}